In [2]:
import pandas as pd
import numpy as np

In [5]:
mydata = ["Boat", "Car","Bike", "Truck"]
myseries1 = pd.Series(mydata)

print(myseries1)

0     Boat
1      Car
2     Bike
3    Truck
dtype: object

In [4]:
mydata = [11, 22, 3, 1]
myseries2 = pd.Series(mydata)
print(myseries2)

0    11
1    22
2     3
3     1
dtype: int64